
.CheckBoxLabel {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.isCompleted {
    text-decoration: line-through;
    color: rgb(35, 206, 72);
}

.ContainerTask {
    display: inline;
}
